<script type="text/javascript">
  jQuery(document).ready(function() {
    var fieldNames = Device.fieldNames();
    var i;
    for (i in fieldNames) {
        if (fieldNames[i].field == "state") {
            fieldNames[i].mappingCallback = function(val) {
                var newval = (val == "on") ? "off" : "on";
                if (val != "off" && val != "on") { val = "unknown"; }
                return '<a href="/device/' + this.id + '/' + newval + '">' + val + '</a>';
            };
        }
    }
    var dt = new DataTable("DIV#devices", Device, fieldNames);
    $('.stop_refresh.devices').click(function() {
        if ($(this).html() == "Stop Updating") {
            dt.stop_refresh();
            $(this).html("Start Updating");
        } else {
            dt.start_refresh();
            $(this).html("Stop Updating");
        }
    });
  });
</script>
<div id="devices">nothing?</div>

<a class="stop_refresh devices" href="#">Stop Updating</a>
