<%= javascript_include_tag "remote_event_proxy" %>
<script type="text/javascript">
  jQuery(document).ready(function() {
      Device.default_data_table =  new DataTable(
              $('#devices'), { classes: 'data_table table table-condensed table-bordered' }
      );

      <%= start_remote_event_proxy() %>
      RemoteEventProxy.subscribe(Device, 'add', null, Device.addDevice);
      RemoteEventProxy.subscribe(Device, 'remove', null, Device.removeDevice);

      $('.stop_refresh').click(function() {
          if ($(this).html() == "Stop Updating") {
              RemoteEventProxy.stop();
              $(this).html("Start Updating");
          } else {
              RemoteEventProxy.start();
              $(this).html("Stop Updating");
          }
      });
  });
</script>
<div class="row">
  <div class="span4">
    <div id="devices">nothing?</div>
    <a class="stop_refresh" href="#">Stop Updating</a>
  </div>
</div>

