// Place all the styles related to the Device controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin color-by-percent($level, $max, $dark, $bright) {
  $percent: log_percent(($level/$max)*100);
  &.level_#{$level} { background-color: mix($bright, $dark, $percent); }
};

@mixin lamp-icon($height, $name) {
  DIV.#{$name} {
    $bulb_ratio: 61/106;

    width: $height*$bulb_ratio;
    height: $height;
    padding: 0;
    margin: 0;

    IMG {
      padding: 0;
      margin: 0;
      width: $height*$bulb_ratio;
      height: $height;
      vertical-align: top;
    };

    $dark: #000000;
    $bright: #faff3f;
    @include color-by-percent(0, 18, $dark, $bright);
    @include color-by-percent(1, 18, $dark, $bright);
    @include color-by-percent(2, 18, $dark, $bright);
    @include color-by-percent(3, 18, $dark, $bright);
    @include color-by-percent(4, 18, $dark, $bright);
    @include color-by-percent(5, 18, $dark, $bright);
    @include color-by-percent(6, 18, $dark, $bright);
    @include color-by-percent(7, 18, $dark, $bright);
    @include color-by-percent(8, 18, $dark, $bright);
    @include color-by-percent(9, 18, $dark, $bright);
    @include color-by-percent(10, 18, $dark, $bright);
    @include color-by-percent(11, 18, $dark, $bright);
    @include color-by-percent(12, 18, $dark, $bright);
    @include color-by-percent(13, 18, $dark, $bright);
    @include color-by-percent(14, 18, $dark, $bright);
    @include color-by-percent(15, 18, $dark, $bright);
    @include color-by-percent(16, 18, $dark, $bright);
    @include color-by-percent(17, 18, $dark, $bright);
    @include color-by-percent(18, 18, $dark, $bright);
  };
};

TABLE.data_table {
  @include lamp-icon(2em, 'x10_lamp_brightness');
  @include lamp-icon(14px, 'x10_lamp_brightness_icon');
  @include lamp-icon(2em, 'insteon_lamp_brightness');
  @include lamp-icon(14px, 'insteon_lamp_brightness_icon');
}

FORM .control-group .controls {
  INPUT.single-char {
    width: 15px;
    min-width: 15px;
  }
  SPAN.add-on.single-char {
    width: 8px;
    min-width: 8px;
  }
}

// Insert an add-on between two elements (both prepend and append)
FORM .control-group .controls .input-prepend.input-append .add-on {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
TABLE.data_table {
  TD, TH {
    white-space: nowrap;
    .btn-group .btn {
      float: none;
    }
  }
}
