<!DOCTYPE html>
<html>
<head>
  <title>Robotomate tests</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://code.jquery.com/qunit/git/qunit.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="http://code.jquery.com/qunit/git/qunit.js" type="text/javascript" ></script>
</head>
<body>

  <%= yield %>

</body>
</html>

